<!DOCTYPE html>
<html lang="fr">
	<meta charset="utf-8">
<head>
	<title>RainbowCake</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-app="rainbowCake" class="container-fluid">
	<!-- navbar en transparence avec titre -->
	<nav class="navbar">
  		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">RainbowCake</a>
		    </div>
  		</div><!-- /.container-fluid -->
	</nav> <!-- /.navbar -->
<!-- AJOUT TEXTE -->
	<div class="container-fluid" ng-controller="HomeController as home">
		<div class="row">
			<!-- Inscription (signup) -->
			<div class="col-xs-10 col-sm-10 col-md-6 col-lg-5 fond_blanc">
				<h2><ins>Inscription</ins></h2><br/>
				<form novalidate class="form-horizontal" ng-submit="inscription()">
					<div class="form-group">
						<label for="pseudo_inscription">Pseudonyme</label>
						<input type="text" class="form-control" id="pseudo_inscription" ng-model="pseudo_inscription"  placeholder="Choisissez un pseudo">
					</div>
					<div class="form-group">
						<label for="mdp_inscription">Mot de passe</label>
						<input type="password" class="form-control" id="mdp_inscription"
						ng-model="mdp_inscription" placeholder="******">
					</div>
				  	<button class="btn btn-primary btn-lg btn-block center-block" type="submit">Je m'inscris</button>
				</form>
			</div>
			<!-- Connexion (login) -->
			<div class="col-xs-10 col-sm-10 col-md-6 col-lg-5 fond_blanc">
				<h2><ins>Connexion</ins></h2><br/>
				<form novalidate class="form-horizontal" ng-submit="connexion()">
					<div class="form-group">
						<label for="pseudo_connexion">Pseudonyme</label>
						<input type="text" class="form-control" id="pseudo_connexion" ng-model="pseudo_connexion" placeholder="Entrez votre pseudo">
					</div>
					<div class="form-group">
						<label for="mdp_connexion">Mot de passe</label>
						<input type="password" class="form-control" id="mdp_connexion" ng-model="mdp_connexion" placeholder="******">
					</div>
					<!-- <div class="checkbox">
						<label>
							<input type="checkbox"> Remember me
						</label>
					</div><br/> -->
					  <button class="btn btn-deep-purple btn-lg btn-block center-block" type="submit">Je me connecte</button>
				</form>
			</div> <!-- /.row center-block -->
		</div>
	</div> <!-- /.container -->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
